@model EmployeeManagementSystem.Models.EMPLOYEE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EMPLOYEE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Emp_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Emp_Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Emp_Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dept_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dept_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dept_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dept_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Emp_NO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
