@model IEnumerable<EmployeeManagementSystem.Models.EMPLOYEE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Emp_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emp_Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Emp_Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dept_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dept_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Job_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Emp_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emp_Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Emp_Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dept_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dept_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Job_ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Emp_NO }) |
            @Html.ActionLink("Details", "Details", new { id=item.Emp_NO }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Emp_NO })
        </td>
    </tr>
}

</table>
